a {
  color: rgb(95, 218, 171);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
}
a:link {
  color: rgb(95, 218, 171);
}
#bio {
  margin: 2em;
  /* text-align: center; */
  /*  background-color: white; */
}
#bio h2 {
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 1em;
}
#bio h5 {
  color: rgb(59, 245, 174);
  font-weight: 600;
}
#bio p {
  margin: 0.5em;
}
#bio button {
  background-color: transparent;
  border: none;
  color: rgb(59, 245, 174);
  font-size: 150%;
  transform: rotateY(0deg) rotate(45deg);
  float: right;
  margin-top: -0.5em;
}
.bio-div {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-left-width: 0.5em;
  border-color: rgb(59, 245, 174);
  background-color: rgb(5, 28, 48);
  padding: 0.7em;
  color: white;
  margin-bottom: 1em;
  font-size: 100%;
  max-width: 75%;
}
@media (max-width: 576px) {
  .bio-div {
    font-size: 90%;
  }
}
@media (min-width: 768px) {
  .bio-div {
    font-size: 105%;
    max-width: 70%;
  }
}
@media (min-width: 992px) {
  .bio-div {
    font-size: 110%;
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  .bio-div {
    max-width: 50%;
  }
}
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-size: cover;
  color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(95, 218, 171);
}
.bold {
  font-weight: 700;
}
@media (min-width: 768apx) {
  .center {
    text-align: center;
  }
}
#close2 {
  background-color: transparent;
  border: none;
  color: rgb(59, 245, 174);
  font-size: 150%;
  transform: rotateY(0deg) rotate(45deg);
  float: right;
  margin-top: -0.5em;
}
#contact {
  margin-top: 4em;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
}

#contact b {
  color: rgb(95, 218, 171);
}
#contact p {
  margin-top: 0.75em;
  color: rgb(203, 201, 201);
}
#contact h2 {
  margin-bottom: 1em;
}
#contact-info {
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* .fadeIn {
  opacity: 0;
  cursor: pointer;
  transition: 0.25s all;
}
.fadeIn:hover {
  opacity: 1;
} */
.flex-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
.float-right {
  float: right;
}
#header {
  text-align: center;
  margin: auto;
  position: relative;
  color: rgb(95, 218, 171);
  top: 42%;
}
@media (max-width: 576px) {
  #header {
    font-size: 80%;
  }
}
#header h1 {
  color: rgb(50, 249, 172);
  font-weight: 400;
}
#header h3 {
  color: rgb(255, 255, 255);
  font-weight: 900;
}
#header h4 {
  font-weight: 200;
  color: rgb(139, 138, 136);
  font-size: 175%;
}
#header b {
  /* color: black; */
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media (min-width: 768px) {
  .left {
    text-align: left;
  }
}
.link {
}
#links {
  margin-left: 3em;
  margin-right: 3em;
  font-weight: 500;
}
@media (min-width: 576px) {
  #links {
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 768px) {
  #links {
    margin-left: 5em;
    margin-right: 5em;
  }
}
@media (min-width: 992px) {
  #links {
    margin-left: 8em;
    margin-right: 8em;
  }
}
@media (min-width: 1200px) {
  #links {
    margin-left: 14em;
    margin-right: 14em;
  }
}
li::marker {
  color: rgb(7, 163, 103);
  content: '-  ';
}
.location {
  font-weight: 600;
}
#nav {
  position: absolute;
  bottom: 40%;
  margin-left: 4em;
  margin-right: 4em;
}
#nav-div {
  text-align: center;
  margin: auto;
  position: relative;
  display: flex;
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border-top: solid;
  border-bottom: solid;
}
.nav-btn {
  margin-left: 1em;
}
.nav-btn button {
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(59, 245, 174);
  font-size: 115%;
  font-weight: 300;
  background-color: transparent;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.2em;
}
@media (min-width: 576px) {
  .nav-btn button {
    font-size: 110%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
  }
}
@media (min-width: 768px) {
  .nav-btn button {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 1.2em;
    margin-left: 1.5em;
  }
}
@media (min-width: 992px) {
  .nav-btn button {
    font-size: 125%;
    margin-left: 4em;
  }
}
@media (min-width: 1200px) {
  .nav-btn button {
    font-size: 130%;
    margin-left: 6em;
  }
}
#nav-list {
  background-color: transparent;
}
#opener {
  height: 100vh;
  position: relative;
  background-color: rgb(5, 28, 48);
  opacity: 0.925;
}
#projects {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-left-width: 0.5em;
  border-color: rgb(59, 245, 174);
  background-color: rgb(5, 28, 48);
  color: white;
  margin-bottom: 1em;
  max-width: 75%;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
@media (min-width: 567px) {
  #projects {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
@media (min-width: 768px) {
  #projects {
    margin-left: 5.5em;
    margin-right: 5.5em;
  }
}
@media (min-width: 992px) {
  #projects {
    margin-left: 10em;
    margin-right: 10em;
    max-height: 75%;
  }
}
#projects h3 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 150%;
}
#projects img {
  max-height: 80%;
  max-width: 80%;
}
@media (min-width: 576px) {
  #projects img {
    max-height: 70%;
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  #projects img {
    max-height: 65%;
    max-width: 65%;
  }
}
@media (min-width: 992px) {
  #projects img {
    max-height: 60%;
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  #projects img {
    max-height: 40%;
    max-width: 40%;
  }
}
#projects button {
  background-color: transparent;
  border: none;
}

.text-left {
  text-align: left;
}
.titles {
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
.title-small {
  color: rgb(255, 255, 255);
  font-weight: 333;
}
#boxPopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
@media (min-width: 567px) {
  #boxPopup {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
@media (min-width: 768px) {
  #boxPopup {
    margin-left: 5.5em;
    margin-right: 5.5em;
  }
}
@media (min-width: 992px) {
  #boxPopup {
    margin-left: 10em;
    margin-right: 10em;
    /*  max-height: 75%; */
  }
}
@media (min-width: 1200px) {
  #boxPopup {
    margin-left: 22em;
    margin-right: 22em;
    /* max-height: 75%; */
  }
}
.open-button {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* opacity: 0.99; */
  position: fixed;
}
/* Hide Popup*/
.form-popup {
  z-index: 9;
  max-width: 90%;
  max-height: 90%;
  overflow-x: scroll;
  margin: 0 auto;
}
/*  */
#boxPopup2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.open-button2 {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* opacity: 0.99; */
  position: fixed;
}
/* Hide Popup*/
.form-popup2 {
  z-index: 9;
  max-width: 90%;
  max-height: 90%;
  overflow-x: scroll;
  margin: 0 auto;
}
